main{
    height: calc(100vh - 210px);
    display: flex;
    align-items: center;
}
.main-txt{
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin-left:50px ;
}
.main-txt h1{
    font-size: 65px;
}
.buttons{
    margin:40px 0;
}
button{
    background-color:#202027;
    color: white;
    border: 0;
    height:100px;
    width: 100px;
    cursor: pointer;
}
.main-txt p{
    font-weight: 300;
    font-size: 18px;
}

.eagle-img{
       width: 30vw;
       height: calc(30vw - 50px);
       margin-right: 50px;
}
    .eagle-img > img{
    height: 100%;
    width: 100%;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#202027;
    height: 70px;
}
ul{
    display: flex;
}
li{
    list-style: none;
}
.ul-1 > li:nth-of-type(2){
    margin-left: 20px;
    
}
.ul-2 > li:first-of-type{
    margin-right: 20px;
}
footer a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}
footer a img{
    margin-right:5px ;
}
